html, body {
  margin: 0;
  padding: 0;
  font-family: Ubuntu, sans-serif;
}
body {
  background: #25303B;
}
center{
  font-weight: bold;
}
.head-line{
  padding-top: 30px;
  padding-left: 30px;
  font-size: 50px;
  font-weight: bold;
  text-shadow: 5px 5px black;
}
footer{
  color: white;
}
#prog {
    position: relative;
    width: 100%;
    height: 10px;
    background-color: grey;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#progbar {
    position: absolute;
    width: 0%;
    height: 100%;
    box-shadow: 1px 0px 1px 0px red;
    background-color: red;
}
.red-circle{
  width: 30px;
  height: 30px;
  background-color: #e74c3c;;
  border-radius: 50%;
  display: inline-block;
}
.teal-circle{
  width: 30px;
  height: 30px;
  background-color: teal;
  border-radius: 50%;
  display: inline-block;
}
.black-circle{
  width: 30px;
  height: 30px;
  background-color: black;
  border-radius: 50%;
  display: inline-block;
}
section#timeline {
  width: 80%;
  margin: 20px auto;
  position: relative;
}
p{
  padding-left: 30px;
}
section#timeline:before {
  content: '';
  display: block;
  position: absolute;
  left: 50%;
  top: 0;
  margin: 0 0 0 -1px;
  width: 5px;
  height: 100%;
  background: white;
}
section#timeline article {
  width: 100%;
  margin: 0 0 20px 0;
  position: relative;
}
section#timeline article:after {
  content: '';
  display: block;
  clear: both;
}
section#timeline article div.inner {
  width: 40%;
  float: left;
  margin: 5px 0 0 0;
  border-radius: 6px;
  box-shadow: 10px 10px;
}
section#timeline article div.inner span.date {
  display: block;
  width: 60px;
  height: 50px;
  padding: 5px 0;
  position: absolute;
  top: 0;
  left: 50%;
  margin: 0 0 0 -32px;
  border-radius: 100%;
  font-size: 12px;
  font-weight: 900;
  text-transform: uppercase;
  background: #25303B;
  color: white;
  border: 2px solid white;
  box-shadow: 0 0 0 7px #25303B;
}
section#timeline article div.inner span.date span {
  display: block;
  text-align: center;
}
section#timeline article div.inner span.date span.day {
  font-size: 20px;
}
section#timeline article div.inner span.date span.month {
  font-size: 15px;
}
section#timeline article div.inner span.date span.year {
  font-size: 10px;
}
section#timeline article div.inner h2 {
  padding: 15px;
  margin: 0;
  color: #fff;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: -1px;
  border-radius: 6px 6px 0 0;
  position: relative;
}
.proj{
  padding: 10px;
}
.content{
  padding-top: 200px;
  position: relative;
}
.project{
  width: 15%;
  float: left;
  margin: 5px 100px 10px 0;
  border-radius: 6px;
  padding: 15px;
  background-color: #e74c3c;
  color: #fff;
  font-size: 20px;
   box-shadow: 10px 10px black;
   position: relative;
}
a{
  text-decoration: none;
}
section#timeline article div.inner h2:after {
  content: '';
  position: absolute;
  top: 20px;
  right: -5px;
    width: 10px; 
    height: 10px;
  -webkit-transform: rotate(-45deg);
}
section#timeline article div.inner p {
  padding: 15px;
  margin: 0;
  font-size: 14px;
  background: #fff;
  color: #656565;
  border-radius: 0 0 6px 6px;
}
section#timeline article:nth-child(2n+2) div.inner {
  float: right;
}
section#timeline article:nth-child(2n+2) div.inner h2:after {
  left: -5px;
}
section#timeline article:nth-child(1) div.inner h2 {
  background: #e74c3c;
}
section#timeline article:nth-child(1) div.inner h2:after {
  background: #e74c3c;
  box-shadow: 5px 10px black;
}
section#timeline article:nth-child(2) div.inner h2 {
  background: #e74c3c;
}
section#timeline article:nth-child(2) div.inner h2:after {
  background: #e74c3c;
}
section#timeline article:nth-child(3) div.inner h2 {
  background: teal;
}
section#timeline article:nth-child(3) div.inner h2:after {
  background: teal;
  box-shadow: 5px 10px black;
}
section#timeline article:nth-child(4) div.inner h2 {
  background: #e74c3c;
}
section#timeline article:nth-child(4) div.inner h2:after {
  background: #e74c3c;
}
section#timeline article:nth-child(5) div.inner h2 {
  background: #e74c3c;
}
section#timeline article:nth-child(5) div.inner h2:after {
  background: #e74c3c;
  box-shadow: 5px 10px black;
}
section#timeline article:nth-child(6) div.inner h2 {
  background: #e74c3c;
}
section#timeline article:nth-child(6) div.inner h2:after {
  background: #e74c3c;
}
section#timeline article:nth-child(7) div.inner h2 {
  background: teal;
}
section#timeline article:nth-child(7) div.inner h2:after {
  background: teal;
  box-shadow: 5px 10px black;
}
section#timeline article:nth-child(8) div.inner h2:after {
  background: #e74c3c;
}
section#timeline article:nth-child(8) div.inner h2 {
  background: #e74c3c;
}
section#timeline article:nth-child(9) div.inner h2 {
  background: teal;
}
section#timeline article:nth-child(9) div.inner h2:after {
  background: teal;
  box-shadow: 5px 10px black;
}
section#timeline article:nth-child(10) div.inner h2 {
  background: teal;
}
section#timeline article:nth-child(10) div.inner h2:after {
  background: teal;
}
section#timeline article:nth-child(11) div.inner h2 {
  background: #e74c3c;
}
section#timeline article:nth-child(11) div.inner h2:after {
  background: #e74c3c;
  box-shadow: 5px 10px black;
}
section#timeline article:nth-child(12) div.inner h2 {
  background: teal;
}
section#timeline article:nth-child(12) div.inner h2:after {
  background: teal;
}
section#timeline article:nth-child(13) div.inner h2 {
  background: teal;
}
section#timeline article:nth-child(13) div.inner h2:after {
  background: teal;
  box-shadow: 5px 10px black;
}
section#timeline article:nth-child(14) div.inner h2 {
  background: teal;
}
section#timeline article:nth-child(14) div.inner h2:after {
  background: teal;
}
section#timeline article:nth-child(15) div.inner h2 {
  background: teal;
}
section#timeline article:nth-child(15) div.inner h2:after {
  background: teal;
  box-shadow: 5px 10px black;
}
section#timeline article:nth-child(16) div.inner h2 {
  background: #e74c3c;
}
section#timeline article:nth-child(16) div.inner h2:after {
  background: #e74c3c;
}
section#timeline article:nth-child(17) div.inner h2 {
  background: teal;
}
section#timeline article:nth-child(17) div.inner h2:after {
  background: teal;
  box-shadow: 5px 10px black;
}
section#timeline article:nth-child(18) div.inner h2:after {
  background: teal;
}
section#timeline article:nth-child(18) div.inner h2 {
  background: teal;
}
section#timeline article:nth-child(19) div.inner h2 {
  background: teal;
}
section#timeline article:nth-child(19) div.inner h2:after {
  background: teal;
  box-shadow: 5px 10px black;
}
section#timeline article:nth-child(18) div.inner h2:after {
  background: teal;
}
section#timeline article:nth-child(18) div.inner h2 {
  background: teal;
}
section#timeline article:nth-child(20) div.inner h2 {
  background: #e74c3c;
}
section#timeline article:nth-child(20) div.inner h2:after {
  background: #e74c3c;
}
section#timeline article:nth-child(21) div.inner h2 {
  background: teal;
}
section#timeline article:nth-child(21) div.inner h2:after {
  background: teal;
  box-shadow: 5px 10px black;
}
section#timeline article:nth-child(22) div.inner h2 {
  background: #e74c3c;
}
section#timeline article:nth-child(22) div.inner h2:after {
  background: #e74c3c;
}
section#timeline article:nth-child(23) div.inner h2 {
  background: teal;
}
section#timeline article:nth-child(23) div.inner h2:after {
  background: teal;
  box-shadow: 5px 10px black;
}
section#timeline article:nth-child(24) div.inner h2 {
  background: teal;
}
section#timeline article:nth-child(24) div.inner h2:after {
  background: teal;
}
section#timeline article:nth-child(25) div.inner h2 {
  background: teal;
}
section#timeline article:nth-child(25) div.inner h2:after {
  background: teal;
  box-shadow: 5px 10px black;
}
section#timeline article:nth-child(26) div.inner h2 {
  background: teal;
}
section#timeline article:nth-child(26) div.inner h2:after {
  background: teal;
}
section#timeline article:nth-child(27) div.inner h2 {
  background: black;
}
section#timeline article:nth-child(27) div.inner h2:after {
  background: black;
  box-shadow: 5px 10px black;
}
section#timeline article:nth-child(28) div.inner h2 {
  background: black;
}
section#timeline article:nth-child(28) div.inner h2:after {
  background: black;
}
section#timeline article:nth-child(29) div.inner h2 {
  background: black;
}
section#timeline article:nth-child(29) div.inner h2:after {
  background: black;
  box-shadow: 5px 10px black;
}
section#timeline article:nth-child(30) div.inner h2 {
  background: black;
}
section#timeline article:nth-child(30) div.inner h2:after {
  background: black;
}
section#timeline article:nth-child(31) div.inner h2 {
  background: black;
}
section#timeline article:nth-child(31) div.inner h2:after {
  background: black;
  box-shadow: 5px 10px black;
}
section#timeline article:nth-child(32) div.inner h2 {
  background: teal;
}
section#timeline article:nth-child(32) div.inner h2:after {
  background: teal;
}
section#timeline article:nth-child(33) div.inner h2 {
  background: teal;
}
section#timeline article:nth-child(33) div.inner h2:after {
  background: teal;
  box-shadow: 5px 10px black;
}
section#timeline article:nth-child(34) div.inner h2 {
  background: #e74c3c;
}
section#timeline article:nth-child(34) div.inner h2:after {
  background: #e74c3c;
}
section#timeline article:nth-child(35) div.inner h2 {
  background: #e74c3c;
}
section#timeline article:nth-child(35) div.inner h2:after {
  background: #e74c3c;
  box-shadow: 5px 10px black;
}
section#timeline article:nth-child(36) div.inner h2 {
  background: teal;
}
section#timeline article:nth-child(36) div.inner h2:after {
  background: teal;
}
section#timeline article:nth-child(37) div.inner h2 {
  background: #e74c3c;
}
section#timeline article:nth-child(37) div.inner h2:after {
  background: #e74c3c;
  box-shadow: 5px 10px black;
}
section#timeline article:nth-child(38) div.inner h2 {
  background: teal;
}
section#timeline article:nth-child(38) div.inner h2:after {
  background: teal;
}
section#timeline article:nth-child(39) div.inner h2 {
  background: teal;
}
section#timeline article:nth-child(39) div.inner h2:after {
  background: teal;
  box-shadow: 5px 10px black;
}
section#timeline article:nth-child(40) div.inner h2 {
  background: teal;
}
section#timeline article:nth-child(40) div.inner h2:after {
  background: teal;
}
section#timeline article:nth-child(41) div.inner h2 {
  background: #e74c3c;
}
section#timeline article:nth-child(41) div.inner h2:after {
  background: #e74c3c;
  box-shadow: 5px 10px black;
}
section#timeline article:nth-child(42) div.inner h2 {
  background: #e74c3c;
}
section#timeline article:nth-child(42) div.inner h2:after {
  background: #e74c3c;
}
section#timeline article:nth-child(43) div.inner h2 {
  background: teal;
}
section#timeline article:nth-child(43) div.inner h2:after {
  background: teal;
  box-shadow: 5px 10px black;
}
section#timeline article:nth-child(44) div.inner h2 {
  background: teal;
}
section#timeline article:nth-child(44) div.inner h2:after {
  background: teal;
}
section#timeline article:nth-child(45) div.inner h2 {
  background: teal;
}
section#timeline article:nth-child(45) div.inner h2:after {
  background: teal;
  box-shadow: 5px 10px black;
}
section#timeline article:nth-child(46) div.inner h2 {
  background: teal;
}
section#timeline article:nth-child(46) div.inner h2:after {
  background: teal;
}
section#timeline article:nth-child(47) div.inner h2 {
  background: teal;
}
section#timeline article:nth-child(47) div.inner h2:after {
  background: teal;
  box-shadow: 5px 10px black;
}
section#timeline article:nth-child(48) div.inner h2 {
  background: teal;
}
section#timeline article:nth-child(48) div.inner h2:after {
  background: teal;
}
section#timeline article:nth-child(49) div.inner h2 {
  background: teal;
}
section#timeline article:nth-child(49) div.inner h2:after {
  background: teal;
  box-shadow: 5px 10px black;
}
section#timeline article:nth-child(50) div.inner h2 {
  background: teal;
}
section#timeline article:nth-child(50) div.inner h2:after {
  background: teal;
}
section#timeline article:nth-child(51) div.inner h2 {
  background: teal;
}
section#timeline article:nth-child(51) div.inner h2:after {
  background: teal;
  box-shadow: 5px 10px black;
}
section#timeline article:nth-child(52) div.inner h2 {
  background: teal;
}
section#timeline article:nth-child(52) div.inner h2:after {
  background: teal;
}